body{
    font-family: sans-serif; 
    box-sizing: border-box;
   
  }
  

  
  form {
    background-color: rgb(224, 223, 223);
       border-radius: 10px;
       color: rgb(255, 255, 255);
       font-size: 14px;
       padding: 5px 25px;
       margin: 0 auto;
       width: 300px;
       height: 630px;
  }
  
  
  
  
  .input__dimensiones {
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
    padding: 0px 10px;
  }
  
  
  .contenedor_imputs{
    height: 400px;
   
  }
  
  button {
   
    background-color: black;
    border-radius: initial;
    color: white;
  }
  
  .contenedor_button {
    text-align: left;
    padding: 10px 0px;
  }
  